{% extends 'layout.html' %}

{% block content %}
<div class="wide-wrapper">
    <section class="inner-white-bg">
        <div class="container registration">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>
                        <img class="img-icon" src="/static/img/registration-icon1.png" alt="">
                        Ваш email подтвержден!
                    </h1>
                </div>
                <div class="col-md-9">
                    Спасибо за подртверждение. Теперь вы можете использовать сайт в полном объеме
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}