<!-- {% macro services_buttons_widget() %}
    <div class="ss-gradient-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ss-service-section-block text-center between-space">
                        <h2>Консолидация</h2>
                        <p>
                            Просто Быстро Надежно <br>
                            Срок доставки 7 дней <br>
                            7$ за килограмм и никаких скрытых платежей !
                        </p>
                        <a class="btn btn-default ss-btn ss-btn-orange" href="{{ url_for('services.consolidation') }}" role="button">ЗАКАЗАТЬ</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="ss-service-section-block text-center">
                        <h2>Купить и доставить</h2>
                        <p>
                            Найдите интересующий вас товар <br>
                            Все остальное мы сделаем за вас <br>
                            6% от суммы заказа + 6$ за килограмм
                        </p>
                        <a class="btn btn-default ss-btn ss-btn-orange" href="{{ url_for('services.purchase') }}" role="button">ЗАКАЗАТЬ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %} -->