{% extends 'layout.html' %}
{% import 'macros/order_tables.html' as order_tables %}

{% block content %}

    {% for order in orders %}
        {{ order_tables.modal(loop.index0, order) }}
    {% endfor %}

    <div class="wide-wrapper">
        <section class="inner-white-bg">
            <div class="container">

                <div class="clearfix">
                    <div class="pull-left">
                        <h2>Персональный кабинет</h2>
                    </div>

                    <div class="pull-right">
                        <a href="{{ url_for('cabinet.me') }}" class="btn-data">Персональные данные <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>

                <h2 class="order-label">Мои заказы</h2>

                {{ order_tables.mobile(orders) }}

                {{ order_tables.desktop(orders) }}

                {{ order_tables.pagination(pagination) }}
            </div>
        </section>
    </div>
{% endblock content %}