gunicorn==19.7.1
Flask==0.11.1
Flask-SQLAlchemy==2.1
Flask-Migrate==2.0.0
psycopg2==2.6.2
Flask-WTF==0.13.1
Flask-Login==0.3.2
jsmin==2.2.1
cssutils==1.0.2
Flask-Assets==0.12
Flask-Session==0.3.0
redis==2.10.5
Flask-Script==2.0.5
Flask-Admin==1.4.2
stripe==1.41.1
Markdown==2.6.7
beautifulsoup4==4.5.1
Flask-HTMLmin==1.2

